:root {
    --black: #091921;
    --grayShadow: #ffffff0d;
    --blackShadow: #0000004d;
    --writeShadowLight: #ffffff80;
    --blackShadowLight: #0000001a;
    --hourPoint: #ff105e;
    --secondPoint: #008eff;
    --writeLight: #d1dae3;
    --borderLight: #cad3dc;
}
